body {
    display: flex;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 206, 206);
    align-content: center;
    gap: 50px;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
    height: auto; /* Change from 70vh to auto */
    background-color: transparent;
    gap: 50px;
}
.res{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cont div {
    padding: 20px; /* Reduce padding */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    gap: 20px; /* Reduce gap */
    width: 120px; /* Adjust width */
    height: 120px; /* Adjust height */
    background-color: black;
    border-radius: 25%;
    color: white;
    flex-direction: column;
    align-content: center;
}

@media (max-width: 600px) {
    .cont {
        gap: 10px; /* Reduce gap further for small screens */
    }

    .cont div {
        padding: 10px; /* Reduce padding for small screens */
        width: 100px; /* Adjust width for small screens */
        height: 100px; /* Adjust height for small screens */
        font-size: 1.2rem; /* Adjust font size for small screens */
    }
}

select {
    background-color: rgb(233, 228, 228);
    border-radius: 25px;
}

#bt {
    background-color: white;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    align-self: center;
    margin-bottom: 0;
}
